

.container{
    display: grid;
    grid-template-columns:repeat(10,1fr) ;
    grid-template-rows:  repeat(12,1fr);
    gap: 10px;
    grid-template-areas: "header header header"
    "bod bod section";

    
}

.container div:nth-child(1n) {
    background-color: red;
   
}
.container div:nth-child(2n) {
    background-color: blue;

}

.header{
    grid-area: header;
    grid-column: 1/-1;
    grid-row: 1/4 ;
}
.bod{
    grid-area: bod;
    grid-row: 4/9;
    grid-column: 1/9;
}
.section{
    grid-column: 9/-1;
    grid-row: 4/9;
}