*{
    color: black;
}

body{

    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,96,1) 35%, rgba(0,212,255,1) 100%);
}

#transparente{
    background-color: rgb(0, 0, 0,.4);
}
#transparente2{
    background-color: rgb(0, 0, 0,.2);
}
#github-search{
    background-color: rgb(0, 0, 0,.2);
    border: none;
    color: black;
    
}